section#info-container
  background-color: var(--Swatch_9)
  border-radius: 25px
  padding: 32px
  h3
    margin-top: 0px
  >div
    display: flex
    flex-direction: row
    justify-content: space-between
    div
      margin-top: 24px
      margin-bottom: 24px
  button
    padding: 12px
    width: 100%
    background-color: var(--Swatch_8)
    color: var(--Swatch_9)
    border: none
    border-radius: 24px
    font-weight: bold
    font-size: 11pt
