@import "./input.sass"
section#form-container
  >div
    display: grid
    grid-template-columns: 1fr 2.25fr 1fr
    @include my_input
    div
      // border: 1px solid red
    div#Irate
      grid-column-start: 3
      // grid-column-end: 3
