@import "./input.sass"
section#form-container
  >div
    display: grid
    grid-template-columns: 1fr 2.25fr 1fr
    gap: 12px
    @include my_input
    div
      // margin-top: 12px
      // margin-bottom: 12px
    div#Irate
      grid-column-start: 3
      // grid-column-end: 3
  >button
    margin: 32px
    padding: 12px
    width: calc(100% - 32px * 2)
    background-color: var(--Swatch_8)
    color: var(--Swatch_9)
    border: none
    border-radius: 24px
    font-weight: bold
    font-size: 11pt
    // padding: 24px
